pub struct IterOut {
	map_fn fn(_ TypeIn) TypeOut
mut:
	iterator IterIn
}

pub fn (mut i IterOut) next() ?TypeOut {
	item := i.iterator.next()?
	return i.map_fn(item)
}

pub fn (i IterOut) str() string {
	return 'map'
}
