pub struct IterOut {
	n int
mut:
	index int
	iterator IterIn
}

pub fn (mut i IterOut) next() ?TypeIn {
	if i.index >= i.n {
		return none
	}
	i.index++
	return i.iterator.next()
}

pub fn (i IterOut) str() string {
	return 'take'
}
